<footer>
    <div class="container">
        <a class="logo-font" routerLink="/"><i class="fa fa-comments-o" aria-hidden="true"></i> Connector</a>
        <span class="attribution">
        <a href="https://www.linkedin.com/in/michaelgokey/" target="_blank">
            Michael Gokey</a>  &copy; {{ today | date: 'yyyy' }}.       
        </span>
        <a href="https://github.com/gokemon/connector-site" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://codepen.io/gokemon/" target="_blank">
            <i class="fa fa-codepen" aria-hidden="true"></i></a>
    </div>
</footer>